                <div id="sidebarad">
                    <a class="adimg" href="https://www.digitalocean.com/?refcode=b6711983671a">
                      <img src="/images/ads/digitalocean.png" alt="Digital Ocean" title="Digital Ocean" width="120" height="90" />
                    </a>
                    <p>Simple Cloud Hosting by <a href="https://www.digitalocean.com/?refcode=b6711983671a">DigitalOcean</a></p>
                </div>
                
                <div id="sidebartwitter">
                    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                    new TWTR.Widget({
                      version: 2,
                      type: 'profile',
                      rpp: 4,
                      interval: 30000,
                      width: 'auto',
                      height: 250,
                      theme: {
                        shell: { background: '#ffffff', color: '#4a4a4a' },
                        tweets: { background: '#ffffff', color: '#666666', links: '#8a571c' }
                      },
                      features: {
                        scrollbar: false,
                        loop: false,
                        live: false,
                        behavior: 'all'
                      }
                    }).render().setUser('redwall_hp').start();
                    </script>
                    <div class="followbutton"><a href="https://twitter.com/redwall_hp" class="twitter-follow-button" data-show-count="false" data-width="135px">Follow @redwall_hp</a></div>
                </div>