                <div id="sidebarad">
                    <a class="adimg" href="https://www.digitalocean.com/?refcode=b6711983671a">
                      <img src="/images/ads/digitalocean.png" alt="Digital Ocean" title="Digital Ocean" width="120" height="90" />
                    </a>
                    <p>Simple Cloud Hosting by <a href="https://www.digitalocean.com/?refcode=b6711983671a">DigitalOcean</a></p>
                </div>
                
                <div id="sidebartwitter">
                    <div id="sbtweets"></div>
                    <div class="followbutton"><a href="https://twitter.com/redwall_hp" class="twitter-follow-button" data-show-count="false" data-width="135px">Follow @redwall_hp</a></div>
                </div>