<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://redwall.hp.myopenid.com/">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Matt Harzewski" href="/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/syntax.css">
    <link rel="stylesheet" href="/assets/fancybox/fancybox.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/fancybox/fancybox.js" async="async"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-735643-6']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>


<body>


    <div id="outerwrapper">
    
        <div id="headerwrapper">
            <div id="header">
                <a href="/" id="logo">Matt Harzewski</a>
                <div id="navigation">
                    <a href="/archives/">Browse the <span>Archives</span></a>
                    <a href="/things-ive-made/">Check out some <span>Things I've Made</span></a>
                    <a href="/about/">Read more <span>About Me</span></a>
                    <a href="http://twitter.com/mattharzewski">Follow me on <span>Twitter</span></a>
                </div>
                <br class="clear" />
            </div>
        </div>
        
        <div id="innerwrapper">
        
            <div id="content">
                {{ content }}
            </div>
            
            
            <div id="sidebar">
                {% include sidebar.html %}
            </div>
            
            
            <div id="footer">
                <p class="copyright">&copy;2021 Matt Harzewski</p>
            </div>
            
            
        </div>
    
    </div>

</body>
</html>
